<div class="topSection">
  <div class="top"></div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#2972B8"
      fill-opacity="1"
      d="M0,192L30,197.3C60,203,120,213,180,234.7C240,256,300,288,360,266.7C420,245,480,171,540,154.7C600,139,660,181,720,208C780,235,840,245,900,250.7C960,256,1020,256,1080,250.7C1140,245,1200,235,1260,245.3C1320,256,1380,288,1410,304L1440,320L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"
    ></path>
  </svg>
</div>

<div class="thirdSection mt-5">
  <div class="container px-4 py-5">
    <h1>WHY CHOOSE US</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="icon fas fa-crown fs-1"></i>
        </div>
        <h3 class="fs-2">HMRC Compliant</h3>
        <p>
          We are HMRC compliant as a company, and our expert employees can work
          with your company to ensure that you are as well. Making certain that
          you do not receive any penalties or fines.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="bi bi-person icon fs-1"></i>
        </div>
        <h3 class="fs-2">Friendly And Reliable</h3>
        <p>
          We appreciate our customers and their businesses. As a result, you
          will find our team approachable and dependable as they work to protect
          and grow your company as if it were their own.
        </p>
      </div>
      <div class="feature col text-light">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="fas fa-handshake icon fs-1"></i>
        </div>
        <h3 class="fs-2">Affordable and Competitve</h3>
        <p>
          We consider it our responsibility to save you and your company as much
          money as possible. As a result, our fees are reasonable and
          competitive; otherwise, what would be the point?
        </p>
      </div>
    </div>
  </div>
</div>

<div class="secondSection mt-5">
  <div class="container">
    <h1 class="text-end">OUR CORE BELIEFES</h1>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5"
    >
      <div class="col d-flex align-items-start">
        <div>
          <p>
            Excellence is the limitless capacity to raise the calibre of what
            you provide.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <p>
            We will work relentlessly with you to identify ways to save you
            money, support the growth of your business, and assure your
            financial success since, like us, you live and breathe your
            business.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4">Excellence</h3>
          <p>
            We strive for excellence in everything we do, so we will work with
            you to ensure you and your business reach their full potential. Our
            employees will use their experience and know-how to assist you in
            meeting your financial objectives.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4">Reliability</h3>
          <p>
            Our knowledgeable employees and legal teams have years of experience
            in their respective fields. This means that we can guarantee that
            they will complete the task while saving you a significant amount of
            money. You can rely on us.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4">Affordability</h3>
          <p>
            At the end of the day, it comes down to money; we seek out ways to
            save you money while remaining financially viable. What would be the
            point otherwise? You can be confident that you will always be
            charged a reasonable fee for the expert work that we perform.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4">Commitment</h3>
          <p>
            We are committed to assisting our clients in growing, and by
            assisting you in growing, we can grow as well. We will collaborate
            closely with you to meet your company's needs, bringing expertise
            and initiative to ensure your financial success.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container p-5 mt-5">
  <h1 class="text-center">OUR APPROACH</h1>
  <div class="jumbotron d-flex align-items-center justify-content-center">
    <section class="timer-section">
      <div class="timer-container">
        <ul class="timer">
          <li class="step">
            <span>1</span>
            <div class="content">
              <h3>REVIEW</h3>
              <p>
                Our team will look over your present incoming and payment
                structure.
              </p>
            </div>
          </li>
          <li class="step">
            <span>2</span>
            <div class="content">
              <h3>CONSULT</h3>
              <p>
                We recommend a very well action plan, which will give you with
                full coverage.
              </p>
            </div>
          </li>
          <li class="step">
            <span>3</span>
            <div class="content">
              <h3>IMPLEMENT</h3>
              <p>
                We will complete all of your paperwork and make all of your
                scheduled payments. Providing you with regular updates and
                payments.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
