
<div class="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1>FOREST UMBRELLA</h1>
        <h3 class="mt-5 mb-5">"READY FOR PAYROLL"</h3>
        <button class="btn btn-outline-primary mb-2 w-50">Contact Us</button>
        <button class="btn btn-outline-primary w-50">Services</button>
      </div>
      <div class="col-lg-6 overflow-hidden">
        <img
          src="https://p1.pxfuel.com/preview/944/516/950/umbrella-rain-background-umbrellas-two-double.jpg"
          class="rounded"
          style="width: 700px"
        />
      </div>
    </div>
  </div>
</div>

<div class="secondSection mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img
          class="img-fluid"
          src="https://media.baamboozle.com/uploads/images/83973/1612298998_140236"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 pt-5">
        <h1>Who are Forest Umbrella</h1>
        <ul class="mt-5">
          <li>
            Forest Umbrella Limited began by offering excellent payroll services
            to our customers, and as our company grew, so did our ambitions.
          </li>
          <li>
            We are a leading provider of payroll services in the United Kingdom.
            Our clients hail from all over the world, and we believe our
            services are extraordinary.
          </li>
          <li>
            We offer expert payroll services to our customers whether they are
            sole trader or multinational corporations.
          </li>
        </ul>
        <button class="btn btn-outline-primary w-50">Book a Demo</button>
      </div>
    </div>
  </div>
</div>

<div class="thirdSection mt-5">
  <div class="container px-4 py-5">
    <h1>WHY CHOOSE US</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="icon fas fa-crown fs-1"></i>
        </div>
        <h3 class="fs-2">HMRC Compliant</h3>
        <p>
          We are HMRC compliant as a company, and our expert employees can work
          with your company to ensure that you are as well. Making certain that
          you do not receive any penalties or fines.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="bi bi-person icon fs-1"></i>
        </div>
        <h3 class="fs-2">Friendly And Reliable</h3>
        <p>
          We appreciate our customers and their businesses. As a result, you
          will find our team approachable and dependable as they work to protect
          and grow your company as if it were their own.
        </p>
      </div>
      <div class="feature col text-light">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="fas fa-handshake icon fs-1"></i>
        </div>
        <h3 class="fs-2">Affordable and Competitve</h3>
        <p>
          We consider it our responsibility to save you and your company as much
          money as possible. As a result, our fees are reasonable and
          competitive; otherwise, what would be the point?
        </p>
      </div>
    </div>
  </div>
</div>

<div class="secondSection mt-5">
  <div class="container">
    <h1 class="text-end">OUR CORE BELIEFES</h1>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5"
    >
      <div class="col d-flex align-items-start">
        <div>
          <p>
            Excellence is the limitless capacity to raise the calibre of what
            you provide.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <p>
            We will work relentlessly with you to identify ways to save you
            money, support the growth of your business, and assure your
            financial success since, like us, you live and breathe your
            business.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4">Excellence</h3>
          <p>
            We strive for excellence in everything we do, so we will work with
            you to ensure you and your business reach their full potential. Our
            employees will use their experience and know-how to assist you in
            meeting your financial objectives.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4">Reliability</h3>
          <p>
            Our knowledgeable employees and legal teams have years of experience
            in their respective fields. This means that we can guarantee that
            they will complete the task while saving you a significant amount of
            money. You can rely on us.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4">Affordability</h3>
          <p>
            At the end of the day, it comes down to money; we seek out ways to
            save you money while remaining financially viable. What would be the
            point otherwise? You can be confident that you will always be
            charged a reasonable fee for the expert work that we perform.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4">Commitment</h3>
          <p>
            We are committed to assisting our clients in growing, and by
            assisting you in growing, we can grow as well. We will collaborate
            closely with you to meet your company's needs, bringing expertise
            and initiative to ensure your financial success.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="thirdSection mt-5">
  <div class="container px-4 py-5">
    <h1>Our Services</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="bi bi-people-fill icon"></i>
        </div>
        <h3 class="fs-2">Fully Managed Payroll</h3>
        <p>
          Payroll services that are fully managed can save you time and money by
          ensuring that HMRC and your employees are paid correctly and on time.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="bi bi-telephone-inbound icon"></i>
        </div>
        <h3 class="fs-2">Direct Access</h3>
        <p>
          You will be given a direct line to contact our payroll experts,
          allowing you to monitor the process and stay on top of it.
        </p>
      </div>
      <div class="feature col text-light">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="bi bi-people icon"></i>
        </div>
        <h3 class="fs-2">Human Resource</h3>
        <p>
          All businesses will require the assistance of dedicated Human
          Resources experts at some point, and our professionals are here to
          help.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="secondSection faqs mt-5">
  <div class="container">
    <h1 class="text-end">FAQ</h1>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 p-3">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                What is an Umbrella Company?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                An Umbrella Company is a business that hires contractors on a
                temporary basis for a recruitment firm. It is typically the
                preferred option for first-time contractors or those who do not
                wish to bear the burdens of having their own business.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                What is IR35?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                HMRC introduced IR35, or "Intermediaries Legislation," in 2000
                as tax legislation specifically designed to combat tax avoidance
                by workers supplying services to clients through an
                intermediary, such as a limited company, and used to assess
                whether a contractor is a genuine contractor rather than a
                "disguised" employee for the purposes of paying tax. Genuine
                contractors, freelancers, or consultants have nothing to fear
                from IR35 regulations and are free to take use of the benefits
                of using an intermediary firm. Employees who work 'outside IR35'
                can get money in the form of dividends from their limited
                enterprises.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                How do I get started?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Contact us or fill out a registration form. We will gather your
                information, and once we have it, we will call you and explain
                the next steps.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 p-3">
        <div class="accordion" id="accordionExample2">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne2"
                aria-controls="collapseOne"
              >
                What are the common tax codes?
              </button>
            </h2>
            <div
              id="collapseOne2"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                1257L- This is the current basic tax code for this tax year; you
                have a total allowance of £12,570 between April 2021 and April
                2022. 0T - Because you did not send a P45 or complete a P46
                prior to your first payment, you do not have any tax allowances.
                It could also signify that HMRC has depleted or reduced your
                allowances to zero. BR - You have a second job/pension. Your
                entire income will be taxed at 20%. If you do not have a second
                employment or a pension, you should contact HMRC to make the
                necessary changes. D0 - You hold a second job/pension and pay a
                higher tax rate. Your entire income will be taxed at 40%. If you
                do not have a second employment or a pension, you should contact
                HMRC to make the necessary changes. D1 - You have a second
                job/pension and pay additional taxes. Your entire income will be
                taxed at 45%. If you do not have a second employment or a
                pension, you should contact HMRC to make the necessary changes.
                NT - You are not eligible for any tax breaks (0%). Emergency
                Codes - Week 1 or Month 1 emergency codes evaluate each week or
                month separately and pay you an equal amount of tax-free wages
                each tax week or month. This means that your previous tax
                history for the tax year is not taken into account in your
                weekly or monthly tax calculation.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo22">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo2"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                What if i decide to leave my role?
              </button>
            </h2>
            <div
              id="collapseTwo22"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample2"
            >
              <div class="accordion-body">
                Contact us to notify us of the changes; once we have finalised
                this, we will issue a P45 to your new employer, indicating that
                your employment with us has terminated.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree2"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                I am a first time contractor, why should I use an umbrella
                company?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree2"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Umbrella companies assist first-time contractors by handling
                payroll, tax deductions, and documentation so you don't have to,
                and ensuring you are paid on time frame each month.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
