
<div class="topSection">
  <div class="top"></div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#2972B8"
      fill-opacity="1"
      d="M0,64L40,90.7C80,117,160,171,240,170.7C320,171,400,117,480,106.7C560,96,640,128,720,154.7C800,181,880,203,960,218.7C1040,235,1120,245,1200,256C1280,267,1360,277,1400,282.7L1440,288L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"
    ></path>
  </svg>
</div>

<div class="container mt-5 second">
  <div class="container mt-5 mb-5">
    <div class="jumbotron mt-5">
      <div class="row mt-5 mb-5">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h3>Limited Company</h3>
            <p>
              For many contractors, contracting through a limited company
              represents one of the most tax-efficient methods to be paid.
              Setting up your own limited company may be the most efficient way
              for you to work, whether you're just starting out as a contractor
              or freelancer or have been working for a while under an umbrella
              corporation. A limited firm can be formed in a variety of ways,
              but employing a professional contractor accountant can help you
              avoid some of the administrative problems and paperwork that come
              with running one. Learn about limited companies and why they may
              be the ideal contractor payroll solution for you.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h3>PAYE Umbrella</h3>
            <p>
              Using an umbrella corporation is the simplest way to get paid.
              It's simple to sign up for an umbrella company, and once you do,
              you're an employee of the umbrella company. With this payroll
              option, there is no need to establish up your own firm or deal
              with any administrative responsibilities other than submitting
              timesheets. Your umbrella payroll provider will manage all taxes,
              including income tax and national insurance. When you select this
              option, you will not be subject to IR35 restrictions. Umbrella
              enterprises, on the other hand, are not the most tax-efficient,
              and if you have the option of contracting through a limited
              company, you may be able to increase your net pay.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center">
    Umbrella Company vs. Limited Company: Pros and Cons Summary
  </h1>
  <div class="container px-4">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h3 class="fs-2">Tax Efficiency</h3>
      </div>
      <div class="feature col">
        <h3 class="fs-2">LIMITED</h3>
        <p>
          The most tax-efficient method of contracting. The majority of
          directors work for a low income. Dividends are not subject to National
          Insurance, and other tax planning alternatives are available.
        </p>
      </div>
      <div class="feature col">
        <h3 class="fs-2">Umbrellae</h3>
        <p>
          PAYE taxes your entire salary. Working through a limited business is
          less tax efficient.
        </p>
      </div>
    </div>
  </div>
  <div class="container px-4">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h3 class="fs-2">Ease of set up and use</h3>
      </div>
      <div class="feature col">
        <p>
          Company incorporation can be accomplished in a few hours, but tax
          registration (VAT, Corporation Tax) can take several weeks. Monthly
          accounting administration is essential, as are some annual
          requirements as a company director.
        </p>
      </div>
      <div class="feature col">
        <p>Instant setup, minimal administration, and no legal obligations.</p>
      </div>
    </div>
  </div>
  <div class="container px-4">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h3 class="fs-2">IR35 Consideration</h3>
      </div>
      <div class="feature col">
        <p>
          Excellent if you intend to serve several clients. The possibility of
          being blanketed. If caught, the majority of the tax benefits of being
          limited are forfeited.
        </p>
      </div>
      <div class="feature col">
        <p>
          Because you are already taxed as a 'employee,' IR35 is irrelevant. Not
          great if you intend to work for multiple clients concurrently.
        </p>
      </div>
    </div>
  </div>
  <div class="container px-4">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h3 class="fs-2">Duration</h3>
      </div>
      <div class="feature col">
        <p>
          Due of the administrative work required to set up and then shut the
          company, it is not suitable for short-term contracts.
        </p>
      </div>
      <div class="feature col">
        <p>Excellent for short-term contracts.</p>
      </div>
    </div>
  </div>
  <div class="container px-4">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h3 class="fs-2">Low earning contracts</h3>
      </div>
      <div class="feature col">
        <p>Contracts paying less than £15-20/hour are usually not suggested.</p>
      </div>
      <div class="feature col">
        <p>Excellent for lower-paying contracts.</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 text-center">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">
        Register your interest now recieve a free consultation
      </h1>
      <p class="text-center">Here to Register or you can contact us</p>
      <button class="btn btn-primary me-2" type="button">020 8609 8488</button>
      <button class="btn btn-primary" type="button">REGISTER INTEREST</button>
    </div>
  </div>
</div>
<div class="container lists">
  <p class="mb-5">
    When selecting a payroll service, many first-time contractors want to know
    how much money they may take home. If you work for a limited company rather
    than an umbrella company, use our take home pay calculator to determine how
    much money you'll get at the end of the week or month. We are delighted to
    have assisted over a thousand clients thus far, so you can be confident that
    you are in excellent hands, as our priorities have always been customer
    service and compliance. When you speak with our experts, you will receive
    professional and personalised advice to help you get started with
    contracting on the right foot. Our first-time contractor services include:
  </p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Free consultation to go through your condition and needs.
    </li>
    <li class="list-group-item">Outline the best payroll option for you.</li>
    <li class="list-group-item">
      Explaining the basics of IR35 legislation and how it affects contractors.
    </li>
    <li class="list-group-item">Complete administrative assistance.</li>
    <li class="list-group-item">Limitless tax guidance.</li>
    <li class="list-group-item">
      A dedicated team is available to answer your questions.
    </li>
    <li class="list-group-item">There are no minimum service terms.</li>
    <li class="list-group-item">
      24/7 access to a safe, mobile-friendly gateway.
    </li>
  </ul>
</div>
