<div class="topSection">
  <div class="top"></div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#2972B8"
      fill-opacity="1"
      d="M0,64L40,90.7C80,117,160,171,240,170.7C320,171,400,117,480,106.7C560,96,640,128,720,154.7C800,181,880,203,960,218.7C1040,235,1120,245,1200,256C1280,267,1360,277,1400,282.7L1440,288L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"
    ></path>
  </svg>
</div>

<div class="thirdSection mt-5">
  <div class="container px-4 py-5">
    <h1 class="">WHY CHOOSE US</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="icon fas fa-crown fs-1"></i>
        </div>
        <h3 class="fs-2">HMRC Compliant</h3>
        <p>
          We are HMRC compliant as a company, and our expert employees can work
          with your company to ensure that you are as well. Making certain that
          you do not receive any penalties or fines.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="bi bi-person icon fs-1"></i>
        </div>
        <h3 class="fs-2">Friendly And Reliable</h3>
        <p>
          We appreciate our customers and their businesses. As a result, you
          will find our team approachable and dependable as they work to protect
          and grow your company as if it were their own.
        </p>
      </div>
      <div class="feature col text-light">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="fas fa-handshake icon fs-1"></i>
        </div>
        <h3 class="fs-2">Affordable and Competitve</h3>
        <p>
          We consider it our responsibility to save you and your company as much
          money as possible. As a result, our fees are reasonable and
          competitive; otherwise, what would be the point?
        </p>
      </div>
    </div>
  </div>
</div>

<div class="secondSection mt-5">
  <div class="container px-4 py-5">
    <h1 class="text-light">Our Services</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col text-light">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="bi bi-people-fill icon"></i>
        </div>
        <h3 class="fs-2">Fully Managed Payroll</h3>
        <p>
          Payroll services that are fully managed can save you time and money by
          ensuring that HMRC and your employees are paid correctly and on time.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="bi bi-telephone-inbound icon"></i>
        </div>
        <h3 class="fs-2">Direct Access</h3>
        <p>
          You will be given a direct line to contact our payroll experts,
          allowing you to monitor the process and stay on top of it.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <i class="bi bi-people icon"></i>
        </div>
        <h3 class="fs-2">Human Resource</h3>
        <p>
          All businesses will require the assistance of dedicated Human
          Resources experts at some point, and our professionals are here to
          help.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="jumbotron mt-5">
    <h1 class="text-center">WHAT ARE MANAGED PAYROLL SERVICES?</h1>
    <div class="row mt-5 mb-5">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <p>
            Rather than having your own payroll department, you can outsource
            your payroll responsibilities to a company that specialises in
            payroll services. The third-party provider will manage all aspects
            of your payroll process; however, in order for them to do so, you
            must provide them with information about your employees, such as the
            hours worked and the rate of pay for each pay period. It is up to
            you how much of the payroll process you outsource to a third party;
            completely outsourcing the process will include many of the
            functions, such as calculating gross wages, setting up a payroll
            system, and making any necessary national insurance deductions.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <p>
            It will also ensure that you are in compliance with changing tax and
            payroll regulations. They will be able to print and email payslips,
            as well as print and send them. They can deposit funds into your
            employees' bank accounts, enter any and all payroll data, prepare
            and submit tax filings for your employees, and complete and file any
            other necessary paperwork not listed, including submissions to HMRC.
          </p>
          <button class="btn btn-outline-primary" type="button">
            Book a Demo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="jumbotron mt-5">
    <h1 class="text-center">
      ARE THERE ANY BENEFITS TO MANAGED PAYROLL SERVICES?
    </h1>
    <div class="row mt-5 mb-5">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <p>
            The advantages of outsourcing your payroll to a third party to
            manage your payroll services are numerous. You will immediately
            notice a financial benefit; payroll companies can often save you
            money because you no longer need to hire someone, or a team of
            people, to perform the job. There are additional savings to be made,
            such as any licencing fees for payroll software, any supplies and
            equipment, such as perforation machines, ink and paper, printers,
            and you will not have to pay for ongoing payroll training and
            development. When you consider outsourcing your payroll to a
            third-party payroll provider, you will immediately see time and
            money savings for you and your company. This relieves your employees
            of the complex administrative duties associated with payroll,
            allowing them to concentrate on the actual business. There will be
            additional benefits in terms of increased HMRC compliance and
            security because you will be outsourcing to an HMRC compliant
            payroll provider.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <p>
            It will no longer be your responsibility as a business to keep up
            with legislative changes in payroll, or to worry about meeting
            deadlines or ensuring compliance with any local, state, or federal
            laws in payroll, as this will be handled by a specialist payroll
            company. Furthermore, because the payroll provider will be managing
            multiple accounts from various companies, they will ensure that they
            have cutting-edge encryption, firewalls, and other security devices
            to protect your and their clients' employees' data. This reduces the
            risk of theft, security breaches, or fraud while also keeping any
            data confidential and secure. Even if you hire a third party to
            process your company's payroll, you will still have oversight and
            control over the process. You will have complete access and control
            over the process through reports, payroll software, and, most
            importantly, access to your payroll manager who can answer any of
            your questions or deal with any of your employees' questions.
          </p>
          <button class="btn btn-outline-primary" type="button">
            Book a Demo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="jumbotron mt-5">
    <h1 class="text-center">
      SHOULD MY BUSINESS INVEST IN MANAGED PAYROLL SERVICES?
    </h1>
    <div class="row mt-5 mb-5">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <p>
            Managed payroll services can benefit any type or size of business.
            If your company is large and already has its own in-house payroll
            department, you will immediately see a savings because you will no
            longer have to pay wages or benefits to a dedicated payroll team
            because this will be outsourced at a much lower rate. If you are a
            medium or small business with 20 or fewer employees, you will also
            benefit from outsourcing your payroll to a third party. You will
            gain real value if you are a business owner who handles every aspect
            of your company's operation. To be in compliance with payroll and
            tax regulations, you must have extensive experience and knowledge to
            ensure that no mistakes are made, as mistakes can be costly.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <p>
            If you lack experience or specialised knowledge, you are much more
            likely to make payroll mistakes, which can result in large penalties
            and costly fines when dealing with HMRC. When you decide to
            outsource your payroll services, you will gain the expertise and
            dedication of payroll specialists. Furthermore, and most
            importantly, you save time, as the payroll process can be complex,
            lengthy, and time consuming. This will allow you to concentrate more
            on the core of your organisation and the expansion of your business.
          </p>
          <button class="btn btn-outline-primary" type="button">
            Book a Demo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="jumbotron mt-5">
    <div class="row mt-5 mb-5">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h3>Payroll Outsourcing</h3>
          <p>
            Payroll can be time-consuming and complicated. It is also one of the
            most important aspects of your company. Outsourcing your payroll can
            help you reduce payroll errors while also ensuring accurate pay and
            compliance with HMRC regulations. People frequently choose to
            outsource their payroll because it saves them money and time. It
            reduces errors because our payroll experts have years of experience.
            If your employees have any payroll questions, our experts can answer
            them, eliminating the need for you to do it and lowering your
            company's costs. Our experts can relieve the burden of automatically
            enrolling your employees in the Auto Enrollment scheme, as well as
            keep track of their national insurance company and handle any
            expenses or benefits they may have received. Whether your company
            employs 5 or 5,000 people, our experts are here to relieve you and
            your company of the burdens of payroll, making payroll simple and
            easy for you and minimising any payroll errors that may occur.
            Please contact us if you would like more information on how we can
            assist you.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h3>Managed Payroll</h3>
          <p>
            We can help you with your payroll, from fully managed payroll
            services to a bespoke service that is suited to you and your
            employees. Whether your company is large or small, we can help and
            provide fully managed payroll services. Nothing matters more to your
            employees than receiving their wages on time, every time. Smoothly
            managed payroll services are necessary for your employees'
            happiness, and thus productivity. We provide a fully managed payroll
            service that includes complete HMRC compliance. Dealing with HMRC
            can be time consuming and stressful for many people. We will take
            care of everything, and you will be able to relax knowing that your
            employees will be paid correctly and on time.
          </p>
          <button class="btn btn-outline-primary" type="button">
            Book a Demo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="jumbotron mt-5">
    <h1 class="text-center">WHAT HAPPENS NEXT?</h1>
    <div class="row mt-5 mb-5">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <p>
            It really is that simple: if you choose us to be your payroll
            service providers, we will manage your payroll completely for you.
            We only need a few pieces of information from you to set up your
            payroll services. We will inquire about pay rates, whether they are
            wages or salaries, and how frequently they are supposed to be paid.
            We will ask you to fill out a short form with this information so
            that we can set up your company's payroll and completely manage it
            for you, eliminating any hassle.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <p>
            All we will need from you in the future is for you to notify us on
            each pay day how long each of your employees has actually worked. We
            then calculate their pay and show any tax and National Insurance
            deductions, which can then be paid to HMRC. It couldn't be simpler.
            All of this should relieve you of the burden of payroll, allowing
            you to focus on other aspects of your business.
          </p>
          <button class="btn btn-outline-primary" type="button">
            Book a Demo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
