.topSection {
  height: 95vh;
}

.topSection .top {
  height: 400px;
  background-color: #2972B8;
}

.secondSection {
  margin-top: 200px !important;
  width: 100%;
  height: 50vh;
  background-image: url('https://cdn.shortpixel.ai/spai/ret_img/https://onpay.com/wp-content/uploads/2017/12/sem-page-hero-background-2-left.svg');
  background-size: cover;
  background-position: center;
}

.secondSection .col-lg-6 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.secondSection ul li {
  margin-bottom: 40px;
  text-align: right;
  list-style: none;
}

.thirdSection {
  background-image: url('https://cdn.shortpixel.ai/spai/ret_img/https://onpay.com/wp-content/uploads/2017/12/sem-page-hero-background-2-right.svg');
  background-size: cover;
  background-position: center;
  height: 50vh;
  margin-top: 200px !important;
}

.jumbotron {
  margin-top: 100px !important;
  margin-bottom: 50px !important;
}


@media screen and (max-width: 600px) {
  .topSection{
    height: 70vh;
  }
  .secondSection, .thirdSection{
    height: auto;
    color: black !important;
  }
  .feature{
    color: black !important;
  }
}
